{% extends 'base.html' %}

{% block title %}Calculadora{% endblock %}

{% block content %}
<h1>Calculadora:</h1>
<form method="POST" action="{% url 'math' %}">
    {% csrf_token %}
    <label for="num1">Número 1:</label>
    <input type="number" name="num1" id="num1" placeholder="Numero 1" required>
    <br><br>

    <label for="num2">Número 2:</label>
    <input type="number" name="num2" id="num2" placeholder="Numero 2" required>
    <br><br>

    <label for="operacion">Operación:</label>
    <select name="operacion" id="operacion">
        <option value="sumar">Sumar</option>
        <option value="restar">Restar</option>
        <option value="multiplicar">Multiplicar</option>
        <option value="dividir">Dividir</option>
    </select>
    <br><br>

    <button type="submit">Calcular</button>
</form>

{% if resultado %}
    <h2>Resultado:</h2>
    <p>{{ resultado }}</p>
{% endif %}

{% endblock %}
